# built application files

#OSX
*.DS_Store
#Gradle files
build/
.gradle/
*/build/

# files for the dex VM


# Java class files

# Local configuration file (sdk path, etc)
local.properties

# Intellij project files
*.iml
.idea/
